.register__button {
    width: 358px;
    height: 50px;
    margin-top: 186px;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
    transition: opacity .3s ease;
    border: 0;
}

.register__button:hover {
    opacity: .8;
}

@media screen and (max-width:768px) {
    .register__button {
        width: 238px;
        height: 46px;
        margin-top: 143px;
        font-size: 14px;
    }  
}