.register__signin_link {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: opacity 0.3 ease;
}

.register__signin_link:hover {
    opacity: 0.8;
}